<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/error.css">
</head>
<header>
    <div class="container">
        <div class="logo">
            <a href="/" class="logo-link">
                <h1>Bank Sys</h1>
            </a>
        </div>
    </div>
</header>
<body>
    <div class="error-container">
        <h1>Oops!</h1>
        <p class="error-code">{{.StatusCode}}</p>
        <p class="error-message">{{ .Message}}</p>
        <a href="/dashboard" class="home-link">Back Home</a>
    </div>
</body>
<footer>© 2025 <a href="https://github.com/benardopiyo/Bank-Management-System">iLabs</a> | All Rights Reserved
</footer>
</html>