<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insight</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>Bank Management System</header>
    <div class="container">
        <h2>Insight Bank</h2>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
    <footer>© 2025 <a href="https://github.com/benardopiyo/Bank-Management-System">iLabs</a> | All Rights Reserved
    </footer>
</body>

</html>