<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insight</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-gray-200 min-h-screen flex justify-center items-center">

<header class="text-gray-200 text-3xl font-bold mb-6 text-center fixed top-0 left-0 w-full bg-gray-900 py-4 mt-8">Bank Sys</header>

<div class="container max-w-lg mx-auto p-8 bg-gray-800 rounded-lg shadow-lg mt-20">
    <h2 class="text-3xl font-bold mb-6 text-center">Request Loan</h2>
    <form action="/apply-loan" method="post" class="space-y-4">
        <div>
            <label for="amount" class="block mb-1">Loan Amount:</label>
            <input type="number" id="amount" name="amount" required class="w-full px-4 py-2 rounded bg-gray-700 border-none">
        </div>
        <div>
            <label for="interest_rate" class="block mb-1">Interest Rate (%):</label>
            <input type="number" id="interest_rate" name="interest_rate" step="0.01" required class="w-full px-4 py-2 rounded bg-gray-700 border-none">
        </div>
        <div>
            <label for="repayment_period" class="block mb-1">Repayment Period (months):</label>
            <input type="number" id="repayment_period" name="repayment_period" required class="w-full px-4 py-2 rounded bg-gray-700 border-none">
        </div>
        <button type="submit" class="w-full bg-green-500 text-gray-900 px-4 py-2 rounded hover:bg-green-400 transition-colors">Submit Loan Request</button>
    </form>
    <a href="/templates/dashboard.html" class="block mt-4 text-center text-green-500 hover:text-green-400 transition-colors">Back to Dashboard</a>
</div>

<footer class="text-gray-200 text-center mt-6 fixed bottom-0 left-0 w-full bg-gray-900 py-4"> 2025 <a href="https://github.com/benardopiyo/Bank-Management-System" class="text-gray-200 hover:text-gray-100 transition-colors">iLabs</a> | All Rights Reserved</footer>

</body>

</html>